<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>373351297766-5f4knsqmvuu540bl3oh24i6qu2uh4lif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373351297766-5f4knsqmvuu540bl3oh24i6qu2uh4lif</string>
	<key>API_KEY</key>
	<string>AIzaSyDgi13qrKZKlY5W-byPJp6sfMIRyz_l7Go</string>
	<key>GCM_SENDER_ID</key>
	<string>373351297766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.studySmart</string>
	<key>PROJECT_ID</key>
	<string>studysmart-2a471</string>
	<key>STORAGE_BUCKET</key>
	<string>studysmart-2a471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373351297766:ios:da43a13da4c1f386</string>
	<key>DATABASE_URL</key>
	<string>https://studysmart-2a471.firebaseio.com</string>
</dict>
</plist>